* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
}

div {
    width: 100px;
    height: 100px;
    border: 1px dashed #ccc;

}

.main {
    width: 900px;
    height: 400px;
}

#carousel {
    width: 800px;
    height: 400px;
    position: relative;
    /* 可选择多余内容隐藏 */
    /* overflow: hidden; */
}

#carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    /* 填满容器而不失真 */
    object-fit: cover;
    padding: 0 120px;
    /* 设置图片全透明 */
    opacity: 0;
    /* 设置透明度变化动画 */
    transition: opacity 1s;
}

/* 目标显示类 */
#carousel img.active {
    opacity: 1;
}

#prev {
    display: inline;
    margin: 0 30%;
    padding: 5px 30px;
}

#next {
    display: inline;
    padding: 5px 30px;
}


.changeStycle {
    width: 80px;
    height: 80px;
    background-color: tomato;
}

.bold {
    font-size: 15px;
    font-weight: 700;
    background-color: aqua;
}